body {
    background-color: #0e0e0e;
    color: #f2f2f2;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #262626;
    color: #f2f2f2;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #f2f2f2;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #f2f2f2;
    color: #0e0e0e;
    font-family: "Open Sans", sans-serif;
}

#portfolio {
    text-align: right;
    padding: 20px;
}

.audio-file {
    background-color: #262626;
    color: #f2f2f2;
    padding: 10px;
    margin: 10px;
    font-family: "Open Sans", sans-serif;
}

.audio-file img {
    max-width: 100%;
}

.audio-file audio {
    width: 100%;
}
