body {
    background-color: #0d0d0d;
    color: #f2f2f2;
}

header {
    background-color: #222;
    color: #f2f2f2;
}

nav ul li a {
    color: #f2f2f2;
}

nav ul li a:hover {
    background-color: #f2f2f2;
    color: #0d0d0d;
}

.audio-file {
    background-color: #222;
    color: #f2f2f2;
    padding: 10px;
    margin: 10px;
}

.audio-file img {
    max-width: 100%;
}

.audio-file audio {
    width: 100%;
}
